@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="terminal-container">
    <div class="terminal">
        <p class="line1 terminal-command" id="index-terminal-command">dotnet new <span class="cursor1">_</span></p>
    </div>
</div>

<form id="search-form" method="POST">
    <input asp-for="SearchText" required autofocus />
    <a id="search-link" href="#" onclick="document.getElementById('search-form').submit();" class="button4">Search</a>
</form>
 
<ul id="overallStats">
    <li>downloads:       <integer>@String.Format("{0:n0}", @Model.Stats.NumDownloads)</integer></li>
    <li>templates:        <integer>@String.Format("{0:n0}", @Model.Stats.NumTemplates)</integer></li>
    
    @*<li>template packs:   <integer>@String.Format("{0:n0}", @Model.Stats.NumTemplatePacks)</integer></li>
    <li>template authors: <integer>@String.Format("{0:n0}", @Model.Stats.NumAuthors)</integer></li>*@
</ul>

<section class="template-pack-container">
    @foreach (var tp in Model.TemplatePacks) {
        <section class="template-pack">
@*            <h4 class="template-pack-header">
            </h4>*@

            <ul class="template-info">
                <li><img class="pkgIcon" src="@Model.GetIconUrlFor(tp)" alt="icon" /></li>
                <li>
                    <ul>
                        <li><a href="/pack/@tp.Package">@tp.Package</a></li>
                        <li><quote class="template-description">@tp.Description</quote></li>
                        <li>
                            <details class="template-details">
                                <summary>@tp.Templates.Length templates</summary>
                                <ul class="template-list">
                                    @foreach (var t in tp.Templates) {
                                        <li><a href="/template/@t.TemplatePackId/@t.Identity">@t.Name</a></li>
                                    }
                                </ul>
                            </details>
                        </li>
                        <li>
                            <ul class="template-metadata">
                                <li>downloads: @String.Format("{0:n0}", @tp.DownloadCount)</li>
                                <li>by: <a href="/search/@tp.Authors">@tp.Authors</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    }
</section>
<div class="pager-container">
<ul class="pager">
    @if (Model.PreviousLink.IsEnabled) {
        <li>
            <a href="@(Model.PreviousLink.LinkHref)"> Previous </a>
        </li>
    }
    @if (Model.NextLink.IsEnabled) {
        <li>
            <a href="@Model.NextLink.LinkHref"> Next </a>
        </li>
    }
</ul>
</div>














