@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="terminal-container centerOnPage">
    <div class="terminal">
        <h1 class="line1 terminal-command" id="index-terminal-command">dotnet new <span class="cursor1">_</span></h1>
    </div>
</div>

<form id="search-form" class="centerOnPage" method="POST">
    <input asp-for="SearchText" required autofocus />
    <fast-anchor id="search-link" href="#" onclick="document.getElementById('search-form').submit();" class="button4">Search</fast-anchor>
</form>
<div id="overallStats" class="centerOnPage">
    <span id="overallDownloads">downloads: <integer>@String.Format("{0:n0}", @Model.Stats.NumDownloads)</integer></span>
    <span id="overallTemplates">templates: <integer>@String.Format("{0:n0}", @Model.Stats.NumTemplates)</integer></span>
</div>

<section class="template-pack-container">
    @foreach (var tp in Model.TemplatePacks) {
        <section class="template-pack">

            <ul class="template-info">
                <li><img class="pkgIcon" src="@Model.GetIconUrlFor(tp)" alt="icon" /></li>
                <li>
                    <div><a href="/pack/@tp.Package">@tp.Package</a></div>
                    <div><quote class="template-description">@tp.Description</quote></div>
                    <div>
                        <fast-disclosure title="@tp.Templates.Length templates">
                            <div class="template-list">
                                @foreach (var t in tp.Templates) {
                                    <div><a href="/template/@t.TemplatePackId/@t.Identity">@t.Name</a></div>
                                }
                            </div>
                        </fast-disclosure>
                    </div>
                </li>
            </ul>            
        </section>
        <div class="templatePackStats">downloads: @String.Format("{0:n0}", @tp.DownloadCount) <span>by: <fast-anchor href="/search/@tp.Authors">@tp.Authors</fast-anchor></span></div>
        <fast-divider></fast-divider>
    }
</section>
<div class="pager-container">
<ul class="pager">
    @if (Model.PreviousLink.IsEnabled) {
        <li class="i-prevlink">
            <a href="@(Model.PreviousLink.LinkHref)"> Previous </a>
        </li>
    }
    @if (Model.NextLink.IsEnabled) {
        <li class="i-nextlink">
            <a href="@Model.NextLink.LinkHref"> Next </a>
        </li>
    }
</ul>
</div>














