@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}

<h1 class="indexHead">
    dotnet core templates
</h1>
<form method="POST">
    <div id="templateSearchBox">
        <input asp-for="SearchText" class="form-control" required/>
        <button type="submit" class="btn btn-primary">Search templates</button>
    </div>
</form>

<h2>Template packs</h2>

@foreach (var tp in Model.TemplatePacks) {
    string evenOrOdd = (counter++ % 2) == 0 ? "evenrow" : "oddrow";
    <section class="templatePackSection @evenOrOdd">
        <h3>
            @if (!string.IsNullOrWhiteSpace(tp.IconUrl)) {
                <img class="pkgIcon" src="@tp.IconUrl" alt="package icon" />
            }
            <a href="/pack/@tp.Package">@tp.Package</a>
        </h3>
        <quote>@tp.Description</quote>
        <ul class="horizontalList packList">
            <li>by: <a href="/search/@tp.Authors">@tp.Authors</a> |</li>
            <li>downloads: @tp.DownloadCount |</li>
            @if (!string.IsNullOrWhiteSpace(tp.ProjectUrl)) {
                <li><a href="@tp.ProjectUrl">go to project</a> |</li> 
            }
            @if (!string.IsNullOrWhiteSpace(tp.LicenseUrl)) {
                <li><a href="@tp.LicenseUrl">license</a> |</li> 
            }
            @if (!string.IsNullOrWhiteSpace(tp.Copyright)) {
                <li>Copyright: @tp.Copyright.Replace("Copyright ","")</li>
            }
        </ul>
        <ul class="templateList">
            @foreach(var t in tp.Templates) {
                <li><a href="/template/@t.TemplatePackId/@t.Identity">@t.Name</a></li>       
            }
        </ul>
    </section>
}
