@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
    <section class="main-content-section" id="searchAndStats">
        <form id="search-form" method="POST">
            <input asp-for="SearchText" required />
@*<button id="search-button" type="submit">Search templates</button>*@
            <a href="#" onclick="document.getElementById('search-form').submit();" class="button4">Search</a>
        </form>

        <ul id="overallStats">
            <li>Overall downloads:       <span>@Model.OverallDownloads</span></li>
            <li>Num of templates:        <span>@Model.NumTemplates</span></li>
            <li>Num of template packs:   <span>@Model.NumTemplatePacks</span></li>
            <li>Num of template authors: <span>@Model.NumAuthors</span></li>
        </ul>
    </section>

    <section>
        @foreach (var tp in Model.TemplatePacks) {
    <section class="template-pack">
        <h3>
            @if (!string.IsNullOrWhiteSpace(tp.IconUrl)) {
                <img class="pkgIcon" src="@tp.IconUrl" alt="package icon" />
            }
            <a href="/pack/@tp.Package">@tp.Package</a>
        </h3>
        <quote>@tp.Description</quote>

        <details class="template-details">
            <summary>@tp.Package.Count() templates</summary>
            <ul class="template-list">
                @foreach (var t in tp.Templates) {
                    <li><a href="/template/@t.TemplatePackId/@t.Identity">@t.Name</a></li>
                }
            </ul>
        </details>

        <ul class="template-metadata">
            <li>by: <a href="/search/@tp.Authors">@tp.Authors</a> |</li>
            <li>
                <img src="~/images/icon-download.png" alt="download icon" />
                downloads: @tp.DownloadCount |
            </li>
            @if (!string.IsNullOrWhiteSpace(tp.ProjectUrl)) {
                <li><a href="@tp.ProjectUrl"><img src="~/images/icon-globe.png" alt="site icon" /> go to project</a> |</li>

            }
            @if (!string.IsNullOrWhiteSpace(tp.LicenseUrl)) {
                <li><a href="@tp.LicenseUrl"><img src="~/images/icon-license.png" alt="license icon" /> license</a> |</li>

            }
            @if (!string.IsNullOrWhiteSpace(tp.Copyright)) {
                <li>Copyright: @tp.Copyright.Replace("Copyright ", "")</li>
            }
        </ul>

    </section>
        }
    </section>
</div>