@page "{packId}"
@model PackModel

<h2>@Model.TemplatePack.Package</h2>
<h3><i>@Model.TemplatePack.Description</i></h3>
<section class="templateInfo">
    <ul class="horizontalList">
        <li>by: <a href="/search/@Model.TemplatePack.Authors">@Model.TemplatePack.Authors</a> |</li>
        <li>downloads: @Model.TemplatePack.DownloadCount |</li>
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.ProjectUrl)) {
            <li><a href="@Model.TemplatePack.ProjectUrl">go to project</a> |</li>
        }
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.LicenseUrl)) {
            <li><a href="@Model.TemplatePack.LicenseUrl">license</a> |</li>
        }
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.Copyright)) {
            <li>Copyright: @Model.TemplatePack.Copyright.Replace("Copyright ","")</li>
        }
    </ul>
</section>
<section class="installCommand">
    dotnet new --install "@Model.TemplatePack.Package"
</section>

<h3>Templates:</h3>
<section>
    <ul>
        @foreach(var template in Model.TemplatePack.Templates) {
            <li><a href="/template/@Model.TemplatePack.Package/@template.Identity">@template.Name</a></li>
        }
    </ul>
</section>
