@page "{SearchText}"
@model SearchModel
@{
}
<h1>Search: [@Model.SearchText] </h1>

<form method="POST" action="~/">
    <div>Name: <input asp-for="SearchText" /></div>
    <input type="submit" />
</form>

@foreach(var t in Model.SearchResults) {
    <h3><a href="~/template/@t.TemplatePackId/@t.Identity">@t.Name</a></h3>
    <table>
        <tr>
            <td>Author</td>
            <td>@t.Author</td>
        </tr>
        <tr>
            <td>Tags:</td>
            <td>
                @foreach (var tt in t.Tags) {
                    <span>@tt.Key.ToString()</span>
                    <b>@tt.Value.ToString()</b>
                }
            </td>
        </tr>
        <tr>
            <td>Classifications:</td>
            <td>
                @foreach (var cc in t.Classifications) {
                    <b>@cc.ToString() &nbsp</b>
                }
            </td>
        </tr>
        <tr>
            <td>Package:</td>
            <td>@t.TemplatePackId</td>
        </tr>
    </table>
}