@page "{SearchText?}"
@model SearchModel
@{
}
<div class="navHome">
    <a href="/"><img src="~/images/create-project-20x20.png" /></a>
</div>


<form method="POST" action="~/" id="search-form">
    <input asp-for="SearchText" id="search-page-text" class="form-control" />
    <a id="search-page-link" href="#" onclick="document.getElementById('search-form').submit();" class="button4">Search</a>
</form>

Found <strong>@Model.SearchResults.Count</strong> matching templates
@foreach (var template in Model.SearchResults) {
<section class="template-pack">
    <h3><a href="~/template/@template.TemplatePackId/@template.Identity">@template.Name</a></h3>
    <ul class="horizontalList">
        <li>by: <a href="/search/@template.Author">@template.Author</a></li>
        <li><a href="/pack/@template.TemplatePackId">other templates in this pack</a></li>
        @if (template.Tags != null && template.Tags.Count > 0) {
            <li>Tags: @foreach (var t in template.Tags) {@t.Key<span>:</span> <strong>@t.Value<span>; </span></strong>}</li>
}

        @if (template.Classifications != null && template.Classifications.Length > 0) {
            <li>Classifications:   @foreach (var c in template.Classifications) {<strong>@c</strong><span>; </span>}</li>
}
    </ul>
</section>
}
