@page "{SearchText}"
@model SearchModel
@{
}
<h1>Search: [@Model.SearchText] </h1>

<form method="POST" action="~/">
    <div>Name: <input asp-for="SearchText" /></div>
    <input type="submit" />
</form>

@foreach(var t in Model.SearchResults) {
    <h3>@t.Name</h3>
    <p>
        Package: <b>@t.TemplatePackId</b><br/>
        Author: @t.Author<br />
        Identity: @t.Identity<br />
        ShortName: @t.ShortName<br />
        Tags : 
            @foreach (var tt in t.Tags) {
                <span>@tt.Key.ToString()</span>
                <b>@tt.Value.ToString()</b>;
            } <br/>
        Classifications:
            @foreach (var cc in t.Classifications) {
                <b>@cc.ToString() &nbsp</b>;
            } <br />
        GroupId: @t.GroupIdentity<br />
    </p>
}