@page "{packId}/{templateId}"
@model TemplateModel


<h3>
@if (!string.IsNullOrWhiteSpace(Model.TemplatePack.IconUrl)) {
    <img class="pkgIcon" src="@Model.TemplatePack.IconUrl" alt="package icon" />
}

@Model.Template.Name (@Model.Template.ShortName)
</h3>
<p>@Model.TemplatePack.Description</p>
<section class="templateInfo">
    <ul class="horizontalList">
        <li>by: <a href="/search/@Model.TemplatePack.Authors">@Model.TemplatePack.Authors</a> |</li>
        <li>downloads: @Model.TemplatePack.DownloadCount |</li>
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.ProjectUrl)) {
        <li><a href="@Model.TemplatePack.ProjectUrl">go to project</a> |</li>
        }
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.LicenseUrl)) {
            <li><a href="@Model.TemplatePack.LicenseUrl">license</a> |</li>
        }
        @if (!string.IsNullOrWhiteSpace(Model.TemplatePack.Copyright)) {
            <li>Copyright: @Model.TemplatePack.Copyright.Replace("Copyright ","")</li>
        }
    </ul>
</section>
<section class="installCommand">
    dotnet new --install "@Model.TemplatePack.Package"
</section>

<section>
    <ul class="templateInfo">
        <li>Tags:              @foreach (var t in Model.Template.Tags) {@t.Key<span>:</span> <b>@t.Value<span>; </span></b>}</li>
        <li>Classifications:   @foreach (var c in Model.Template.Classifications) {<b>@c</b><span>; </span>}</li>        
    </ul>

    <h4><a href="~/pack/@Model.TemplatePack.Package">Other templates in this package</a></h4>    
</section>